<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('partials/head') %>
</head>

<body class="bg-gray-100">
  
  <main class="main-content  mt-0">
    <section>
      <div class="page-header min-vh-100">
        <div class="container">
          <div class="row">
            <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-lg-0 mx-auto">
              <div class="card card-plain">
                <div class="card-header pb-0 text-start">
                  <h4 class="font-weight-bolder">ATN Fabricaciones</h4>
                  <p class="mb-0">Ingresa tu usuario y contraseña para acceder al <b>Sistema de Inventario</b>.</p>
                </div>
                
                <div class="card-body">
                  
                  <% if (typeof error !== 'undefined' && error) { %>
                    <div class="alert alert-danger text-white text-sm" role="alert">
                        <%= error %>
                    </div>
                  <% } %>

                  <form role="form" action="/login" method="POST">
                    <div class="mb-3">
                      <input type="text" name="username" class="form-control form-control-lg" placeholder="Usuario" aria-label="Usuario" required autofocus>
                    </div>
                    <div class="mb-3">
                      <input type="password" name="password" class="form-control form-control-lg" placeholder="Contraseña" aria-label="Password" required>
                    </div>
                    <div class="text-center">
                      <button type="submit" class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0">Entrar</button>
                    </div>
                  </form>
                </div>
                <div class="card-footer text-center pt-0 px-lg-2 px-1">
                  <p class="mb-4 text-sm mx-auto">
                    Sistema de Control Interno v2.0
                  </p>
                </div>
              </div>
            </div>
            <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 end-0 text-center justify-content-center flex-column">
              <div class="position-relative bg-gradient-primary h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center overflow-hidden" style="background-image: url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/argon-dashboard-pro/assets/img/signin-ill.jpg'); background-size: cover;">
                <span class="mask bg-gradient-primary opacity-6"></span>
                <h4 class="mt-5 text-white font-weight-bolder position-relative">"La organización es la clave"</h4>
                <p class="text-white position-relative">Gestiona tus herramientas y personal de manera eficiente desde un solo lugar.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  
  <%- include('partials/scripts') %>
</body>
</html>